@use "global" as *;
// sp size 375px -> sp
// tb size 768px -> md
// pc size 1440px -> pc

.card__inner {
  background-color: #333;
  @include mq(md) {
    padding: 15% 1% 15% 23%;
    margin-left: 30%;
  }
  @include mq(xl) {
  }
}
