@use "global" as *;
// sp size 375px -> sp
// tb size 768px -> md
// pc size 1440px -> pc

.card__inner--mdfy {
  @include mq(md) {
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 16rem;
    padding-right: 1rem;
    margin-left: auto;
  }
  @include mq(xl) {
    padding-top: 14.375rem;
    padding-bottom: 14.375rem;
    padding-left: 20rem;
    padding-right: 5rem;
    margin-left: auto;
  }
}
